/* eslint-disable max-len */
import React from 'react'

const Welcome = () => (
  <div>
    <h1>
      Welcome to <%= appTitle %>
    </h1>

    <p>
      This is a UI component dev environment for your app.
    </p>

    <p>
      We&apos;ve added some basic stories inside the
      {' '}
      <code>
        src/components/Button/button.stories.js
      </code>
      .
    </p>

    <p>
      A story is a single state of one or more UI components.
      You can have as many stories as you want.
      (Basically a story is like a visual test case.)
    </p>

    <p>
      Just like that, you can add your own components as stories.
      You can also edit those components and see changes right away.
      (Try editing the Button stories located at
      <code>
        {'src/components/<ComponentName>/<componentsName>.stories.js'}
      </code>
      .)
    </p>

    <p>
      Usually we create stories with smaller UI components in the app.
      Have a look at the
      {' '}
      <a href="https://storybook.js.org/docs/basics/writing-stories/">
        Writing Stories
      </a>
      {' '}
      section in Storybook documentation.
    </p>

    <em>
      <b>NOTE:</b>
      <br />
      Have a look at the .storybook/webpack.config.js to add webpack loaders and plugins you are using in this project.
    </em>
  </div>
)

export default Welcome
