$color-grey: #AEAEBA;
$color-green: #00D6A6;
$color-yellow: #F1C40F;
$color-red: #D2374E;

$colot-text-primary: #4d4c59;

$color-list: (
  'green': $color-green,
  'yellow': $color-yellow,
  'red': $color-red
);