@import '../../styles/colors';
@import '../../styles/typography';

.button {
  background: none;
	color: inherit;
  margin: 0;
  font: inherit;
	cursor: pointer;
  outline: inherit;
  box-sizing: border-box;
  padding: 0 16px;
  border: 2px solid $color-grey;
  border-radius: 4px;
  color: $colot-text-primary;
  font-family: $primary-font-family;
  min-height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: all ease .2s;
}

@each $name, $color in $color-list {
  .#{$name} {
    border-color: $color;
    color: $color;
  }
}